<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/assets/css/style.css">
     <title>Cities</title>

</head>
<body>
     <header>
          <ul id="menu">
               <li><a href="/">Home</a></li>
               <li><a href="/reports">Reports</a></li>
               <li><a href="/cities">Cities</a></li>
            </ul>

          <h1>CityReporter</h1>
          <b>All cities</b>

     </header>
     <div>

          <ul id="listCities">
      <% for(let i=0; i< cities.length; i++){ %>
         <li> <a href="/reports/<%=cities[i] %>"> <%= cities[i] %> </a></li>
      <% } %>

     </ul>
     </div>
     
</body>
</html>